.navbar-toggler{
	border: 0;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus{
	outline: none;
	box-shadow: none;
	border: 0;
}
.toggler-icon{
	width: 30px;
	height: 3px;
	background-color: #851C1B;
	display: block;
	transition: all 0.2s;
}

.middle-var{
	margin: 5px auto;
}

.navbar-toggler .top-var{
	transform: rotate(48deg);
	transform-origin: 19% 10%
}
.navbar-toggler .middle-var{
	opacity: 0;
	filter: alpha(opacity=0);
}
.navbar-toggler .button-var{
	transform: rotate(-48deg);
	transform-origin: 10% 10%
}

.navbar-toggler.collapsed .top-var{
	transform: rotate(0);
}
.navbar-toggler.collapsed .middle-var{
	opacity: 1;
	filter: alpha(opacity=100);
}
.navbar-toggler.collapsed .button-var{
	transform: rotate(0);
}
.navbar-toggler.collapsed .toggler-icon{
	background-color: #777777;
}








